/* this is where I watch the tutorial to see how to make a grid and flexbox layout I'm not gonna lie */


html{
    scroll-behavior: smooth;
    
}

body{
    margin: 0;
    padding: 0;
    /* this removes the horizontal scroll wheel */
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}


.entirebordle{
    border: 4px solid #12345c;
    height: 95vh;
    width: 95vw;
    margin: 4vh 3vw 4vh 3vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagebox{
    border: 4px solid orange;
    height: 70vh;
    width: 80%;
}
#playernotifier{
    font-size: larger;
    font-weight: bold;
}

/* style classes for JavaScript */

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

/* footer stuff */

/* eh I guess I'll just have the same code reused in a bunch of different css documents */
footer{
    /* bottom:0; */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    /* this padding applies to thefooter not the elements in the footer */
    padding: 26px 30px; 
    gap: 0px;
    align-content: center;
    /* gives some space */
    margin-top: 5vh;
    font-family: Helvetica ,Arial, sans-serif;
    font-size: 126%;
}
.footer-links{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;

}

/* adjust lineheight:
 */
 /* nah actually the cause was unnecessary padding fixed that */

.footerbottom{
    padding: 0;
    /* slightly bigger font size */
    font-size: 106%;
}

footer a{
text-decoration: none;
color: #12345c;
}
.footer-links a:visited {
    color: #12345c; 
    text-decoration: none;
}

.footer-links a:hover{
    cursor: pointer;
    color: #12345c;
    text-decoration: underline; 
    text-decoration-thickness: 4px; /* Makes underline thicker */
    /* Adjusts the space between text and underline */
    text-underline-offset: .26vh; 
}

footer p {
    margin: 1vh; 
}
footer img {
    margin: 0; /* Optional: Remove margin for the image if you want it tighter */
}
